html {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  /*cursor: none;*/
}

body {
    margin: 0 !important;
    font-size: 2vh;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.container {
    max-width: 95vw;
}

.row {
    margin-left: -2vh;
    margin-right: -2vh;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-left: 2vh;
    padding-right: 2vh;
}

main {
    position: relative;
}

.wrapper {
    position: relative;
    width: 100vw;
    max-width: 177.78vh;
    height: 56.25vw;
    max-height: 100vh;
    overflow: hidden;
    margin: 0 auto;
    background: #fff;
    border: 1px solid #ccc;
}

header {
    padding: 2vh;
    background-color: #f5f5f5;
    margin-bottom: 7vh;
}

.header-logo img {
    width: auto;
    height: auto;
    max-width: 10vh;
    max-height: 10vh;
    display: block;
    margin: 0 auto;
}

.calendar {
    text-align: center;
    background: #96dbfc;
    width: 15vh;
    font-weight: 700;
}

.calendar span {
    padding: 1vh 1vh;
    display: block;
    line-height: 1.1;
}

.calendar strong {
    font-size: 4.5vh;
    display: block;
    color: #35ace2;
    font-weight: 400;
    background: #ebebeb;
    width: 100%;
}

.header-time {
    font-size: 6vh;
    color: #999;
}

/* MAIN PAGE */

.index-button {
    background-color: #d6d6d6;
    padding: 2vh;
    height: 16vh;
    display: block;
    margin-bottom: 4vh;
    text-align: center;
    color: #333;
    font-size: 3.5vh;
    position: relative;
}

.index-button span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1vh;
    right: 1vh;
}

.container-index {
    width: 70vw;
}

/* MAIN PAGE */