html {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  /*cursor: none;*/
}

body {
    margin: 0 !important;
    font-size: 2vh;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.container {
    max-width: 95vw;
}

.row {
    margin-left: -2vh;
    margin-right: -2vh;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-left: 2vh;
    padding-right: 2vh;
}

main {
    position: relative;
}

.wrapper {
    position: relative;
    width: 100vw;
    max-width: 177.78vh;
    height: 56.25vw;
    max-height: 100vh;
    overflow: hidden;
    margin: 0 auto;
    background: #fff;
    border: 1px solid #ccc;
}

header {
    padding: 2vh;
    background-color: #f5f5f5;
    margin-bottom: 7vh;
}

.header-logo img {
    width: auto;
    height: auto;
    max-width: 10vh;
    max-height: 10vh;
    display: block;
    margin: 0 auto;
}

.calendar {
    text-align: center;
    background: #96dbfc;
    width: 15vh;
    font-weight: 700;
}

.calendar span {
    padding: 1vh 1vh;
    display: block;
    line-height: 1.1;
}

.calendar strong {
    font-size: 4.5vh;
    display: block;
    color: #35ace2;
    font-weight: 400;
    background: #ebebeb;
    width: 100%;
}

.header-time {
    font-size: 6vh;
    color: #999;
}

/* MAIN PAGE */

.index-button {
    background-color: #d6d6d6;
    padding: 2vh;
    height: 16vh;
    display: block;
    margin-bottom: 5vh;
    text-align: center;
    color: #333;
    font-size: 3.5vh;
    position: relative;
}

.index-button span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1vh;
    right: 1vh;
}

.container-index {
    width: 70vw;
    height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
}

/* MAIN PAGE */



/* FOOTER */

footer {
    background-color: #e7e7e7;
    height: 7vh;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.med-home {
    background-color: #2886bb;
    width: 15vh;
    height: 7vh;
    display: inline-block;
    margin-left: -6vh;
    padding-left: 6vh;
    position: relative;
    margin-right: 6vh;
    vertical-align: middle;
}

.med-home-sub {
    background-color: #b1b1b1;
}

.med-home:after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    margin-right: -7vh;
    width: 0;
    height: 0;
    border: 3.5vh solid;
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-left-color: #2886bb;
    border-right-color: transparent;
}

.med-home-sub:after {
    border-left-color: #b1b1b1;
}

.med-home img {
    width: 60%;
    margin-top: 0.75vh;
}

.med-footer-second {
    vertical-align: middle;
    color: #fff;
    position: relative;
    background-color: #2886bb;
    width: auto;
    height: 7vh;
    display: inline-block;
    padding-left: 6vh;
    margin-left: -7vh;
    font-size: 2.5vh;
    padding-top: 1.5vh;
    margin-right: 5vh;
}

.med-footer-second:before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 0;
    height: 0;
    border: 3.5vh solid;
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-left-color: #b1b1b1;
    border-right-color: transparent;
}

.med-footer-second:after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    margin-right: -7vh;
    width: 0;
    height: 0;
    border: 3.5vh solid;
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-left-color: #2886bb;
    border-right-color: transparent;
}

.med-footer-second span {
    display: block;
    margin-right: 2vh;
}

.med-footer-third {
    font-size: 2vh;
    color: #222;
}

/* FOOTER */


/* PHOTOGALS */

.gallery-list {
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
    margin-left: -1vh;
    margin-right: -1vh;
}

.gallery-list-item-slide {
    width: 100%;
    white-space: normal;
    margin-bottom: 1vh;
}

.gallery-list-item {
    width: calc(25% - 2vh);
    display: inline-block;
    vertical-align: top;
    margin: 0 1vh;
    white-space: normal;
}

.gallery-list-item a {
    display: block;
    text-align: center;
}

.gallery-list-item a:hover,
.gallery-list-item a:focus {
    text-decoration: none;
}

.gallery-list-item a h2 {
    height: 7vh;
    color: #333;
    margin: 0;
    line-height: 1.35;
    font-size: 2vh;
    overflow: hidden;
}

.gallery-list-item-pic {
    height: 24vh;
    margin-bottom: 1vh;
}

.gallery-list .flickity-page-dots {
    bottom: 0;
}

.gallery-list .flickity-page-dots .dot {
    width: 5vh;
    border-radius: 1vh;
}

.gallery-detail {
    padding: 0 2.5vh;
}

.gallery-detail-item {
    width: 30%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    margin: 0 5vh;
}

.gallery-detail-item img,
.gallery-detail-item video {
    display: block;
    max-height: 100%;
    transform: scale(0.25);
}

.gallery-detail-item.is-selected {
    opacity: 1;
    z-index: 20;
}

.gallery-detail-item.is-selected img,
.gallery-detail-item.is-selected video {
    transform: none;
}

/* PHOTOGALS */