.container {
    max-width: 1000px;
}

.wrapper {
    position: relative;
    width: 1080px;
    height: 1920px;
    overflow: hidden;
    margin: 0 auto;
    background: #fff;
    border: 1px solid #ccc;
}

.news {
    height: 400px;
}